/*body {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}*/

.content-form {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
    background-color: lightgray;
    border: 1px solid #adb5bd;
    padding: 15px;
}
img {
    width: 50px;
}
#navTool {
    direction: rtl;
}
